body {
  font-family: 'Roboto', sans-serif;
  margin     : 0;

  .wpForm {
    margin          : 0 auto;
    width           : 38%;
    background-color: #ddd;
    border-radius   : 10px;

    div {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      padding        : 30px;

      label {
        display       : flex;
        flex-direction: column;
        margin        : 0 0 15px 0;
        font-size     : 18px;
        font-weight   : bold;

        input {
          height       : 35px;
          border-radius: 5px;
          border       : none;
          outline      : none;
          margin       : 5px 0 0 0;
          padding      : 0 10px;
          box-shadow   : 1px 1px 6px rgba(30, 30, 30, .5);

          &[type=file] {
            padding      : 0 0 0 0;
            box-shadow   : none;
            border-radius: 0;
          }
        }

        textarea {
          resize       : none;
          width        : 96%;
          height       : 164px;
          border       : none;
          border-radius: 5px;
          margin       : 5px 0 0 0;
          padding      : 10px 10px;
          outline      : none;
          box-shadow   : 1px 1px 6px rgba(30, 30, 30, .5);
        }

        &#publishOnSubmit {
          flex-direction: row;
          align-items   : center;
          font-size     : 15px;

          input {
            box-shadow: none;
            margin    : 0 6px 4px 0;
          }
        }
      }

      input[type=submit] {
        height          : 45px;
        border          : none;
        border-radius   : 5px;
        font-weight     : bold;
        font-size       : 20px;
        width           : 180px;
        background-color: rgb(255, 255, 255);
        transition      : 300ms;
        cursor          : pointer;

        &:hover {
          background-color: rgb(241, 241, 241);
        }
      }

      div {
        padding: 0;
      }
    }
  }

  .wpList {
    display       : flex;
    align-items   : center;
    flex-direction: column;

    div {
      width           : 700px;
      box-shadow      : 1px 1px 6px rgba(30, 30, 30, .5);
      background-color: #ddd;
      border-radius   : 10px 10px;
      padding         : 20px 0;
      margin          : 0 0 30px 0;
      text-align      : center;

      img {
        align-self: center;
        max-width : 650px;
      }

      span {
        display    : block;
        text-align : left;
        margin     : 40px 20px 0;
        font-weight: normal;
      }
    }

    h1 {
      margin: 0 0 20px 0;
    }
  }

  .wpMenus {
    margin: 0 0 30px 0;

    div {
      div {
        ul {
          list-style      : none;
          display         : flex;
          justify-content : space-evenly;
          margin          : 0;
          padding         : 20px 0;
          background-color: rgb(172, 172, 172);

          li {
            a {
              text-decoration: none;
              color          : #fff;
              font-size      : 20px;
              transition     : 300ms;

              &:hover {
                color: rgb(206, 249, 255);
              }
            }
          }
        }
      }
    }
  }

  .wpManager {
    margin: 0 300px;

    div {
      display         : flex;
      justify-content : space-between;
      background-color: #e6e6e6;
      border-radius   : 50px;
      box-shadow      : 1px 1px 6px rgba(30, 30, 30, .5);
      margin          : 0 0 20px 0;

      h1 {
        font-size  : 20px;
        font-weight: bold;
        padding    : 15px 20px;
        color      : #000000;
      }

      div {
        box-shadow: none;
        margin    : 0 25px 0 0;

        button {
          background-color: transparent;
          border          : none;
          outline         : none;
          padding         : 0 10px;
          transition      : 300ms;
          cursor          : pointer;

          .fa-trash-alt {
            transition: 300ms;
          }

          .fa-pencil-alt {
            transition: 300ms;
          }

          i {
            cursor    : pointer;
            font-size : 18px;
            transition: 300ms;

            &.fa-upload,
            &.fa-download {
              padding        : 0 10px 0 0;
              display        : flex;
              justify-content: space-around;
            }

          }

          div {
            width          : 100px;
            justify-content: left;
            align-content  : center;
            margin         : 0;

            span {
              font-weight: bold;
              margin     : 2px 0 0 0;
            }

            .unpublish {
              transition: 300ms;
            }

            .publish {
              transition: 300ms;
            }

            &:hover {

              .fa-upload {
                color: rgb(0, 211, 53);
              }

              .publish {
                color: rgb(0, 211, 53);
              }
            }

            &:hover {
              .fa-download {
                color: rgb(255, 145, 0);
              }

              .unpublish {
                color: rgb(255, 145, 0);
              }
            }



          }

          &:hover {

            .fa-pencil-alt {
              color: rgb(243, 239, 0);
            }
          }

          &:hover {

            .fa-trash-alt {
              color: rgb(243, 0, 0);
            }

          }
        }
      }
    }
  }
}

.removed-item {
  animation: removed-item-animation .6s cubic-bezier(.55, -0.04, .91, .94) forwards;
}

@keyframes removed-item-animation {
  from {
    opacity  : 1;
    transform: scale(1);
  }

  to {
    opacity  : 0;
    transform: scale(0);
  }
}

@keyframes openspace {
  to {
    height: auto;
  }
}

@keyframes restored-item-animation {
  from {
    opacity  : 0;
    transform: scale(0);
  }

  to {
    opacity  : 1;
    transform: scale(1);
  }
}